body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.CI {
    padding: 20px;
    text-align: center;
}

.CIm {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.Actividades, .precio, .reserva {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #007bff;
}

ul {
    list-style-type: square;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}